.quiz {
    border: 2px solid black;
    border-radius: 2px solid black;

    label {
        display: block;
    }
    button {
        display: block;
        margin: 0 auto;
        padding: 15px 20px;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
    }
}